USE [neoris]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 8/2/2026 19:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[id] [uniqueidentifier] NOT NULL,
	[direccion] [varchar](255) NULL,
	[edad] [int] NOT NULL,
	[genero] [varchar](255) NULL,
	[identificacion] [varchar](255) NULL,
	[nombre] [varchar](255) NULL,
	[telefono] [varchar](255) NULL,
	[contrasenia] [varchar](255) NULL,
	[estado] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cuentas]    Script Date: 8/2/2026 19:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cuentas](
	[id] [uniqueidentifier] NOT NULL,
	[balance] [real] NOT NULL,
	[estado] [varchar](255) NULL,
	[numero_cuenta] [varchar](255) NULL,
	[saldo_inicial] [real] NOT NULL,
	[tipo_cuenta] [varchar](255) NULL,
	[cliente_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[movimientos]    Script Date: 8/2/2026 19:29:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[movimientos](
	[id] [uniqueidentifier] NOT NULL,
	[fecha] [datetime2](7) NULL,
	[saldo] [real] NOT NULL,
	[tipo_movimiento] [varchar](255) NULL,
	[valor] [real] NOT NULL,
	[cuenta_id] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD  CONSTRAINT [FK65yk2321jpusl3fk96lqehrli] FOREIGN KEY([cliente_id])
REFERENCES [dbo].[clientes] ([id])
GO
ALTER TABLE [dbo].[cuentas] CHECK CONSTRAINT [FK65yk2321jpusl3fk96lqehrli]
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD  CONSTRAINT [FK4moe88hxuohcysas5h70mdc09] FOREIGN KEY([cuenta_id])
REFERENCES [dbo].[cuentas] ([id])
GO
ALTER TABLE [dbo].[movimientos] CHECK CONSTRAINT [FK4moe88hxuohcysas5h70mdc09]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD CHECK  (([genero]='Hombre' OR [genero]='Mujer'))
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([estado]='Inactivo' OR [estado]='Activo'))
GO
ALTER TABLE [dbo].[cuentas]  WITH CHECK ADD CHECK  (([tipo_cuenta]='Ahorros' OR [tipo_cuenta]='Corriente'))
GO
ALTER TABLE [dbo].[movimientos]  WITH CHECK ADD CHECK  (([tipo_movimiento]='Egreso' OR [tipo_movimiento]='Ingreso'))
GO
